<div class="horizontal-pad10 form_border">
    <div class="form-group">
        <h4>Create Phonebook record</h4>
        <input class="form-control ng-untouched ng-pristine ng-invalid" placeholder="Type name" type="text" name="name" #name />
        <input class="form-control ng-untouched ng-pristine ng-invalid" placeholder="Type surname" type="text" name="surname" #surname />
        <br><br>
        <input class="form-control ng-untouched ng-pristine ng-invalid" placeholder="Type phonenumber" type="text" name="phonenumber" #phonenumber />

    </div>
    <br>
    <div class="form-group">
        <button (click)="CreatePhoneRecord(name.value, surname.value, phonenumber.value)" class="btn btn-default full-witdth-button">Create</button>
    </div>
    <br>
    <div class="form-group">
        <h4>Search</h4>
        <input class="form-control ng-untouched ng-pristine ng-invalid" placeholder="Type name to search" type="text" namesearch="name" #namesearch />
    </div>
    <br>
    <div class="form-group">
        <button (click)="GetPhoneBookByName(namesearch.value)"  class="btn btn-default full-witdth-button">Search</button> or         <button (click)="GetAllPhoneBookEntries()"  class="btn btn-default full-witdth-button">GetAll</button>
    </div>
</div>
<br>
<div *ngIf="data">
  <table class="table">
      <tr>
          <th>#</th>
          <th>Firstname</th>
          <th>Surname</th>
          <th>Phone Number</th>
      </tr>
      <tr *ngFor="let dt of data; let i = index">
          <td>{{i + 1}}</td>
          <td>{{dt.firstName}}</td>
          <td>{{dt.surname}}</td>
          <td>{{dt.phoneNumber}}</td>
      </tr>
  </table>
</div>
